<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HR Operations Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Prescription</servlet-name>
    <servlet-class>com.Prescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prescription</servlet-name>
    <url-pattern>/Prescription</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>HealthcareUpload</servlet-name>
    <servlet-class>com.HealthcareUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthcareUpload</servlet-name>
    <url-pattern>/HealthcareUpload</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>RegisterDoctor</servlet-name>
    <servlet-class>com.RegisterDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDoctor</servlet-name>
    <url-pattern>/RegisterDoctor</url-pattern>
  </servlet-mapping>

     <servlet>
    <servlet-name>Patient</servlet-name>
    <servlet-class>com.Patient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient</servlet-name>
    <url-pattern>/Patient</url-pattern>
  </servlet-mapping>

     
   <servlet>
    <servlet-name>PatientDataUpload</servlet-name>
    <servlet-class>com.PatientDataUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientDataUpload</servlet-name>
    <url-pattern>/PatientDataUpload</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>Physician</servlet-name>
    <servlet-class>com.Physician</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Physician</servlet-name>
    <url-pattern>/Physician</url-pattern>
  </servlet-mapping>

  
</web-app>